html,
input,
button {
    cursor: none;
}

.type-js {  
    display: inline-block;
    line-height: 1;
    border-right: 3px solid #fff;  
    animation: cursor 1s step-end infinite;
}
@keyframes cursor {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}